* {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.post {
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#subreddits {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
}

.form {
  height: 150px;
  margin: 20px;
  padding: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
}

.votes {
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  padding-left: 5px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
