* {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  border: 1px solid grey;
}

.flex {
  display: flex;
}

.post {
  margin: 10px;
  padding: 10px;
}

#subreddits {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
}

.form {
  height: 150px;
  margin: 20px;
  padding: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline;
}

button {
  background: none;
  border: none;
  font-size: 20px;
}

.votes {
  align-items: center;
  justify-content: center;
}
